<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension point="org.knime.workbench.repository.nodes">
<node
      category-path="/community/PIA"
      deprecated="false"
      factory-class="de.mpc.pia.knime.nodes.compiler.PIACompilerNodeFactory"
      id="de.mpc.pia.knime.nodes.compiler.PIACompilerNodeFactory"/>
<node
      category-path="/community/PIA"
      deprecated="false"
      factory-class="de.mpc.pia.knime.nodes.analysis.PIAAnalysisNodeFactory"
      id="de.mpc.pia.knime.nodes.analysis.PIAAnalysisNodeFactory">
</node>
</extension>
   <extension point="org.knime.product.splashExtension">
        <splashExtension
              icon="icons/pia_logo_48x48.png"
              id="de.mpc.pia.knime.nodes.splashExtension"
              tooltip="PIA - Protein Inference Algorithms"/>
   </extension>

   <extension point="org.knime.workbench.repository.categories">
      <category icon="icons/pia_logo_16x16.png" level-id="PIA" name="PIA" path="/community">
      </category>
   </extension>
   
  <extension point="org.knime.base.filehandling.mimetypes"> 
    <mimetype name="application/x-MZIDENTML">
      <fileextension name="mzid"/>
      <fileextension name="mzIdentML"/>
    </mimetype>
    <mimetype name="application/x-MASCOTDAT">
      <fileextension name="dat"/>
    </mimetype>
    <mimetype name="application/x-MAGELLANSTORAGEFILE">
      <fileextension name="msf"/>
    </mimetype>
    <mimetype name="application/x-TANDEMXML">
      <fileextension name="tandem.xml"/>
      <fileextension name="t.xml"/>
      <fileextension name="xml"/>
    </mimetype>
    <mimetype name="application/x-IDXML">
      <fileextension name="idxml"/>
    </mimetype>
    <mimetype name="application/x-PIAXML">
      <fileextension name="pia.xml"/>
    </mimetype>
    <mimetype name="text/CSV">
      <fileextension name="csv"/>
    </mimetype>
    <mimetype name="application/x-MZTAB">
      <fileextension name="mzTab"/>
    </mimetype>
  </extension>
  <extension
        point="org.knime.core.PortType">
     <portType
           hidden="false"
           name="de.mpc.pia.knime.nodes.filestorage.FileStoreURIPortObject"
           objectClass="de.mpc.pia.knime.nodes.filestorageport.FileStoreURIPortObject"
           objectSerializer="de.mpc.pia.knime.nodes.filestorageport.FileStoreURIPortObjectSerializer"
           specClass="org.knime.core.data.uri.URIPortObjectSpec"
           specSerializer="org.knime.core.data.uri.URIPortObjectSpec$Serializer">
     </portType>
  </extension>
</plugin>
